* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.navigation {
    background-color: rebeccapurple;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li {
    font-size: 1.5rem;
    list-style-type: none;
    cursor: pointer;
    padding: 20px 30px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav #cart {
    background-color: rebeccapurple;
    font-size: 20px;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    cursor: pointer;
}
.header {
    background-color: rgb(108, 70, 117);
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 30px;
    text-align: center;
    color: white;
}
#shirts {
    text-align: center;
    margin: 30px 0px;
    padding: 10px;
}
.list-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.item h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}
img {
    height: 300px;
    width: 250px;
}
.carts {
    display: flex;
    margin-top: 10px;
    align-items: center;
}
#button {
    margin-left: 100px;
    height: 30px;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
#cartButton {
    text-align: center;
    margin: 30px;
}
#btn {
    height: 40px;
    width: 170px;
    font-size: 20px;
    background-color: rgb(108, 70, 117);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rebeccapurple;
}
.footer h1 {
    color: white;
    font-size: 30px;
}
.footer ul {
    display: flex;
    list-style-type: none;
}
.footer ul li {
    padding: 20px;
}

.cart-section h3{
    text-align: center;
    font-size: 30px;
}
.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.cart-total{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 100px;
    font-size: 30px;
}
.cart-items{
    margin: 30px;
}
#purchase{
    text-align: center;
    margin: 20px;
}
.purchase-btn{
    background-color: rebeccapurple;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.cart-row{
    display: flex;
    align-items: center;
}
.cart-row .cart-item{
    margin: 400px;
    padding: 400px;
}
.cart-section {
    background-color: rgb(108, 70, 117);
    color: white;
    position: fixed;
    top:67px;
    right: 0;
    height: 100vh;
    /* padding: 5rem; */
    padding-right: 2rem;
    transform: translateX(100%);
}

.cart-section.active {
    transform: translateX(0);
}
.cart-section img{
    height: 100px;
    width: 100px;
}
.cart-items .cart-item{
    display: inline;
    text-align: center;
}

#container {
    position: fixed;
    bottom: 1px;
    right: 10px;

}

.toast {
    background-color: rebeccapurple;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    margin: 1rem;
}
.cart-row .cart-item{
    display: block;
}

/* about */
.about h1{
    text-align: center;
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.descripyion{
    display: flex;
}
.descripyion img{
    width: 50%;
    height: 250px;
}

/* Home */
#tours h2{
    text-align: center;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tour-item{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    width: 70%;
    margin: 0 auto;
}
.tour-item span{
    font-size: 20px;
    padding: 30px;


}
.tour-item button{
   background-color: rebeccapurple;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
